Source: lynis
Section: utils
Priority: optional
Maintainer: Michael Boelen <michael.boelen@cisofy.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://cisofy.com/lynis/

Package: lynis
Architecture: any
Depends: ${misc:Depends}
Recommends: menu
Suggests: dnsutils
Description: security auditing tool for Linux systems
 Lynis is an auditing tool for systems running Linux, Mac OS X,
 BSD, or any other UNIX-based operating system. It helps with
 discovering configuration issues and implementing best practices.
 .
 Lynis can be used in addition to other software, like security
 scanners, system benchmarking and fine-tuning tools.
