Source: lynis
Section: utils
Priority: optional
Maintainer: Michael Boelen <michael.boelen@cisofy.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://cisofy.com/lynis/
#Vcs-Git: git://git.debian.org/collab-maint/lynis.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lynis.git;a=summary

Package: lynis
Architecture: any
Depends: ${misc:Depends}
Recommends: menu
Suggests: dnsutils
Description: security auditing tool for Linux systems
 Lynis is an auditing tool for Unix based systems. It helps
 with discovering vulnerabilities and configuration
 weaknesses.
 .
 Lynis can be used in addition to other software, like security
 scanners, system benchmarking and fine-tuning tools.
