[Desktop Entry]
Name=Lynis auditing tool
Name[es]=Herramienta de auditoría Lynis
Comment=Security auditing tool (root)
Comment[es]=Herramienta de auditoría de seguridad (root)
Exec=su-to-root -c '/usr/sbin/lynis --no-colors'
Terminal=true
Type=Application
Categories=System;
StartupNotify=true
Keywords=security;auditing;monitoring;issues;test;
Keywords[es]=seguridad;auditoría;monitorizar;incidencias;test;
