#!/usr/bin/make -f

build-indep: build-stamp
build-arch: build-stamp
build: build-arch build-indep
build-stamp:
	dh_testdir
	touch build-stamp


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_prep

	# Add here commands to install the package into debian/lynis.
	install -D -m 0755 $(CURDIR)/lynis $(CURDIR)/debian/lynis/usr/sbin/lynis
	install -D -m 0644 $(CURDIR)/default.prf $(CURDIR)/debian/lynis/etc/lynis/default.prf
	install -d $(CURDIR)/include/ $(CURDIR)/debian/lynis/usr/share/lynis/include/
	install -m 0644 $(CURDIR)/include/* $(CURDIR)/debian/lynis/usr/share/lynis/include/
	install -d $(CURDIR)/plugins/ $(CURDIR)/debian/lynis/etc/lynis/plugins/
	install -m 0755 $(CURDIR)/plugins/custom_plugin.template $(CURDIR)/debian/lynis/etc/lynis/plugins/
	install -m 0644 $(CURDIR)/plugins/README $(CURDIR)/debian/lynis/etc/lynis/README
	install -d $(CURDIR)/db $(CURDIR)/debian/lynis/usr/share/lynis/db/
	install -m 0644 $(CURDIR)/db/* $(CURDIR)/debian/lynis/usr/share/lynis/db/
	mkdir -p $(CURDIR)/debian/lynis/usr/share/applications/
	#install -m 0644 $(CURDIR)/debian/lynis.desktop $(CURDIR)/debian/lynis/usr/share/applications/



# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_installmenu
	dh_installman
	dh_install
	dh_link
	dh_compress
	dh_fixperms -Xinclude
	dh_lintian -plynis
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

