#################################################################################
#
# Lynis timer file for systemd
#
#################################################################################
#
# - Place this file together with the lynis.service file in the related
#   systemd directory (e.g. /etc/systemd/system)
#
# - Tell systemd you made changes
#   systemctl daemon-reload
#
# - Enable and start the timer (so no reboot is needed):
#   systemctl enable --now lynis.timer
#
#################################################################################

[Unit]
Description=Daily timer for the Lynis security audit and vulnerability scanner

[Timer]
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=false

[Install]
WantedBy=timers.target

#EOF
