#################################################################################
#
# Lynis timer file for systemd
#
#################################################################################
#
# - Place this file together with the service file in systemd directory
# - Run: systemctl enable lynis.timer
#        systemctl start lynis.service
#
#################################################################################

[Unit]
Description=Daily run for Lynis security audit and vulnerability scan

[Timer]
OnCalendar=daily
Persistent=false

[Install]
WantedBy=timers.target

#EOF
