#################################################################################
#
# Lynis service file for systemd
#
#################################################################################
#
# - Adjust path to link to location where Lynis binary is installed
# - Place this file together with the timer file in systemd directory
# - Run: systemctl enable lynis.service
#
#################################################################################

[Unit]
Description=Lynis security audit and vulnerability scan

[Service]
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Type=simple
ExecStart=/path/to/lynis -c --cronjob

#EOF
