#################################################################################
#
# Lynis service file for systemd
#
#################################################################################
#
# - Adjust path to link to location where Lynis binary is installed
#
# - Place this file together with the lynis.timer file in the related
#   systemd directory (e.g. /etc/systemd/system/)
#
# - See details in lynis.timer file
#
#################################################################################

[Unit]
Description=Security audit and vulnerability scanner
Documentation=https://cisofy.com/docs/

[Service]
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Type=simple
ExecStart=/path/to/lynis audit system --cronjob

[Install]
WantedBy=multi-user.target

#EOF
